#App {
  position: relative;
  min-height: 100vh;
  background-color: #6495ed;
  padding-bottom: 150px;
  margin: auto;
}

#Main {
  padding: 16px 0px 0px 0px;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #6495ed;
}

h1 {
  padding-top: 8px;
  text-align: center;
}

#Home p {
  text-align: center;
}

#Home h2 {
  text-align: center;
}

#Home svg {
  color: #ff99cc;
}

p,
a {
  font-family: "Montserrat", serif;
}

.Navbar {
  color: silver;
  padding-top: 48px;
}

.navbar {
  background-color: #6495ed;
}

.navbar-nav {
  color: silver;
  align-items: center;
}

.nav-item a {
  color: silver;
  text-decoration: none;
}

.navbar-toggler {
  color: silver;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0px 8px;
}

a:hover {
  color: white;
}

.nav-item {
  padding: 12px;
}

.Wrapper {
  padding: 16px;
}

#Countdown h1 {
  text-align: center;
}

.Map {
  flex-grow: "1";
  display: block;
  min-height: 50vh;
  max-height: 100px;
  min-width: 50px;
}

.Pin {
  background-color: #6495ed;
  display: block;
  color: #6495ed;
}

.Pin p {
  color: #6495ed;
  font-style: oblique;
  font-size: medium;
  font-weight: bolder;
}

.Pin p:hover {
  font-size: x-large;
}

#accomodationLinks {
  text-align: center;
  color: #6495ed;
}

.VenuePhoto {
  padding: 12px;
  border-style: solid;
  border-color: #6495ed;
  border-width: 4px;
  border-radius: 1.5rem;
  display: block;
}

.VenuePhoto img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.BannerPhoto {
  width: 100%;
  display: block;
}

.BannerPhoto img {
  max-width: 100vw;
  object-fit: contain;
  margin: 0;
}

#Schedule {
  text-align: center;
}

#Gifts {
  text-align: center;
}

#Gifts svg {
  color: #ff99cc;
  padding-bottom: 16px;
}
