.App {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #6495ED;
  padding: 8px;
}

p, a {
  font-family: 'Montserrat', serif;
}

.Navbar {
  background-color: #6495ED;
  color: silver;
}

.navbar-nav {
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0px 8px;
}

a:hover {
  color: white;
}

.nav-item {
  padding: 12px;
}

.Main {
  padding: 16px;
}

.Map {
  flex-grow: '1';
  display: block;
  min-height: 25vh;
  max-height: 100px; 
  min-width: 50px;
}